@model ProjWebApp.Models.Cart

@{
    ViewData["Title"] = "Корзина";
}

<h2>Корзина</h2>

@if (Model.CartItems.Count == 0)
{
    <p>Ваша корзина пуста.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название товара</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Итого</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Title</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price.ToString("C")</td>
                    <td>@(item.Quantity * item.Product.Price).ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Общая сумма: @Model.CartItems.Sum(ci => ci.Quantity * ci.Product.Price).ToString("C")</h4>
}
