@model IEnumerable<ProjWebApp.Models.Product>

@{
    ViewData["Title"] = "Product Catalog";
}

<h1>Product Catalog</h1>



<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                @if (product.Images != null && product.Images.Any())
                {
                    <img src="@Url.Content(product.Images.First().ImagePath)" alt="@product.Title" class="card-img-top" style="height: 225px; object-fit: cover;">
                }
                else
                {
                    <img src="~/images/default.png" alt="No Image" class="card-img-top" style="height: 225px; object-fit: cover;"> <!-- Убедитесь, что этот путь правильный -->
                }

                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                    <p class="card-text">Price: @product.Price.ToString("C")</p>
                    <p class="card-text">Discount: @product.DiscountPercent% off</p>
                    <p class="card-text">@Html.Raw(product.Description)</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="Details" asp-route-id="@product.ProductId" class="btn btn-primary">View Details</a>
                        </div>
                        <small class="text-muted">@product.DateAdded?.ToString("MM/dd/yyyy")</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
