@model IEnumerable<ProjWebApp.Models.Product>
@{
    ViewData["Title"] = "Product List";
}

@using System.IO

<div class="text-center mb-3">
    <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Перейти на страницу продуктов</a>
</div>

<h1>@ViewData["Title"]</h1>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                @if (product.Images.Any())
                {
                    foreach (var img in product.Images)
                    {
                        // Извлекаем имя файла без использования Path.GetFileName
                        var filePath = img.ImagePath;
                        var fileName = filePath.Substring(filePath.LastIndexOf('\\') + 1); // Извлекаем имя файла

                        <img src="@Url.Content("~/scr/Images/" + fileName)" class="card-img-top" alt="@product.Title" style="height: 200px; object-fit: cover;" />
                    }
                }
                else
                {
                    <img src="~/images/default-product.png" class="card-img-top" alt="Default Image" style="height: 200px; object-fit: cover;" />
                }

                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                    <div class="d-flex justify-content-between">
                        <p class="card-text">Цена: @product.Price.ToString("C")</p>
                        <p class="card-text">Категория: @product.Category?.CategoryTitle</p>
                    </div>
                    @if (product.DiscountPercent.HasValue)
                    {
                        <p class="card-text text-danger">Скидка: @product.DiscountPercent %</p>
                    }
                    <p class="card-text">Описание: @product.Description</p>
                    <p class="card-text">Дата добавления: @product.DateAdded?.ToShortDateString()</p>
                    <div class="d-flex justify-content-between">
                        <a asp-action="Details" asp-route-id="@product.ProductId" class="btn btn-info">Details</a>
                        <a asp-action="Update" asp-route-id="@product.ProductId" class="btn btn-warning">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center">
    <a asp-action="Create" class="btn btn-success">Create New Product</a>
</div>